*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/jsFiles.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/web/local.properties